* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #c5f53a;
}

.hero {
    position: relative;
    height: 100vh;
    background: url('https://imagenes.heraldo.es/files/image_990_556/uploads/imagenes/2024/09/27/hojas-de-salvia-gsc1.jpeg') no-repeat center center/cover;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero .content {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    animation: fadeInUp 2s ease-out forwards;
    opacity: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 30px;
    background-color: #c5f53a;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a2d531;
}

/* Media Queries para pantallas más pequeñas (teléfonos) */
@media only screen and (max-width: 768px) {
    .hero h1 {
        font-size: 32px; /* Reduce el tamaño del texto en pantallas pequeñas */
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .btn {
        padding: 8px 20px; /* Ajusta el tamaño del botón */
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .hero h1 {
        font-size: 28px; /* Más pequeño para pantallas realmente pequeñas */
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 6px 15px;
        font-size: 14px;
    }
}
/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
